[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
camelcase = "*"
psycopg2 = "==2.7.5"
psycopg2-binary = "==2.7.5"
pytz = "==2018.5"
Django = "==2.2.24"
Pillow = "==5.2.0"
djangorestframework = "*"
django-rest-knox = "*"
mysqlclient = {path = "./mysqlclient-1.4.2-cp37-cp37m-win32.whl"}

[requires]
python_version = "3.7"
